body,
html {
    height: 100%;
    overflow-x: hidden;
}

/*        NAV BAR              */
nav {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    height: 60px;
    background-color: #ccc;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Racing Sans One", cursive;
}

.logo {
    color: darkgoldenrod;
    text-transform: uppercase;
    letter-spacing: 4px;
    font: 40px;
    margin-right: auto;
    padding-left: 20px;
    padding: 10px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 5%;
    padding: 10px;
    margin-left: auto;
}

.nav-links li {
    color: darkgoldenrod;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 30px;
    align-items: end;
}

a:link,
i {
    color: rgb(3, 115, 195);
}

 i:hover {
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
li {
    list-style: none;
    text-align: center;
}

/*                                          Right Side                                     */

.right {
    display: flex;
    flex: 1;
    /* background-size: cover; */
    overflow-x: hidden;
    padding-top: 10px;
    /* flex-direction: column; */
    /* justify-content: center; */

    /* align-items: center; */
    /* text-align: center; center text */
}
.right .text-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

/*                              SPLIT SCREEN               */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #b76d22, #9c8464);
    background-size: cover;
    /* align-items: center; */
}

.container {
    flex-grow: 1;
    display: flex;
}

.left,
.right {
    flex: 1;
    overflow-x: hidden;
    padding-top: 10px;
    padding: 10px;
}
.left h2,
.left h5,
.right h3,
.right p {
    /* text-align: center; */
    font-family: "Racing Sans One", cursive;
}

/*                             DOG ITEM INFO            */

.right {
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
}
.text-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.dog-eight-info-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 2px solid black; */
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    margin-top: 50px; /* Adjust this value as needed */
    background-color: #9d9c9c;
    box-shadow: -5px 5px 2px rgb(48, 48, 48);
}
/*                                                  DOG IMG CONTAINER              */
.dog-eight-img-list {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
}

.dog-left-img-item {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 5px;
}

.dog-left-img-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 5px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.dog-left-img-item.labrador-retriever::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://iconsplace.com/wp-content/uploads/_icons/000000/256/png/number-1-icon-256.png");
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: grayscale(100%);
    transition: opacity 0.9s ease, filter 0.5s ease;
}
.dog-left-img-item.german-shepherd-dog::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://iconsplace.com/wp-content/uploads/_icons/000000/256/png/number-2-icon-256.png");
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: grayscale(100%);
    transition: opacity 0.9s ease, filter 0.5s ease;
}

.dog-left-img-item.golden-retriever::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://icon-library.com/images/3-icon/3-icon-26.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: grayscale(100%);
    transition: opacity 0.9s ease, filter 0.5s ease;
}

.dog-left-img-item.chinese-shar-pei::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://icon-library.com/images/number-4-icon/number-4-icon-10.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: grayscale(100%);
    transition: opacity 0.9s ease, filter 0.5s ease;
}
.dog-left-img-item.yorkshire-terrier::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://icon-library.com/images/5-icon/5-icon-10.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: grayscale(100%);
    transition: opacity 0.9s ease, filter 0.5s ease;
}
.dog-left-img-item.great-dane::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://icon-library.com/images/icon-8/icon-8-9.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: grayscale(100%);
    transition: opacity 0.9s ease, filter 0.5s ease;
}
.dog-left-img-item.alaskan-husky::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://icon-library.com/images/icon-8/icon-8-9.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: grayscale(100%);
    transition: opacity 0.9s ease, filter 0.5s ease;
}
.dog-left-img-item.rottweiler::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://icon-library.com/images/6-icon/6-icon-17.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: grayscale(100%);
    transition: opacity 0.9s ease, filter 0.5s ease;
}
.dog-left-img-item.shiba-inu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://icon-library.com/images/7-icon/7-icon-8.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    filter: grayscale(100%);
    transition: opacity 0.9s ease, filter 0.5s ease;
}

.dog-left-img-item:hover::after {
    opacity: 1;
    filter: grayscale(0%);
}

.dog-left-img-item:hover img {
    filter: grayscale(0%);
}

/*                              FOOTER              */

footer {
    background-color: #ccc;
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.2);
    color: #333;
    font-family: "Racing Sans One", cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}

.footer-links a {
    color: darkgoldenrod;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
}

.footer-links a:hover {
    color: black;
    transition: 0.5s;
}

footer .copy {
    font-size: 12px;
}

/*                              ACCENTS             */

h2,
h5,
p {
    text-align: center;
    color: rgb(66, 60, 135);
    padding: 5px;
}
h2 {
    font-size: 50px;
}
h5 {
    font-size: 20px;
}

li > h3 {
    color: rgb(63, 146, 146);
    font-size: 50px;
    font-family: "Racing Sans One", cursive;
}
li > p {
    font-family: "Racing Sans One", cursive;
    color: rgb(7, 62, 62);
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

.hidden {
    display: none;
}

h3.curious {
    text-align: center;
    font-size: 40px;
    margin-top: 75px;
    margin-bottom: 40px;
}

div .dog-selector:focus,
div .dog-selector:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.title {
    padding-left: 10px;
}

li > h3 {
    margin-top: 20px;
}

div .dog-selector {
    position: static;
    /* margin: auto; */
    text-align: center;

    padding: 8px 12px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;

    width: 30%;
    align-self: center;
}

.dawg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    width: 600px;
    height: 400px;
    margin-top: 50px;
}
.dawg img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/*              CUSTOM PLAY BUTTON  */

/* .cus_plyBtn {
    font-size: 80px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: grid;
    place-items: center;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: none;
    background: hsla(250, 100%, 75%, 1);
    transition: 0.3s;
    cursor: pointer;
    animation: pulse 1.3s ease infinite;
}

.cus_plyBtn::hover {
    background: hsla(250, 100%, 70%, 1);
}
@keyframes pulse {
    0% {
        box-shadow: 0em 0em 0em 0em hsla(250, 100%, 75%, 0.8);
    }
    100% {
        box-shadow: 0em 0em 0em 0.3em hsla(250, 100%, 75%, 0);
    }
}

.cus_plyBtn::before {
    content: "";
    display: inline-block;
    border-left: 0.3em solid;
    border-top: 0.18em solid transparent;
    border-bottom: 0.18em solid transparent;
    margin-right: -0.08em;
} */


#playButton{
    color: cadetblue;
    font-size: 5em;
    margin-left: auto;
    margin-right: auto;
}
